<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar class="blueBackGr">
        <ion-buttons slot="end">
          <ion-menu-toggle>
            <ion-icon id="closeMenuBtn" color="warning" name="close"></ion-icon>
          </ion-menu-toggle>

        </ion-buttons>
        <ion-title class="ion-text-center" color="warning">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list lines="full" *ngFor="let item of items">

          <ion-item [routerLink]="item.path" detail>
            {{item.text}}
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
          </ion-item>



        </ion-list>

        <!-- <ion-list  >



        <ion-item routerLink="/" detail>
          Home
          <ion-icon slot="start" name="home"></ion-icon>
        </ion-item>

        <ion-item routerLink="pag2" detail>
          Listas
          <ion-icon slot="start" name="list"></ion-icon>

        </ion-item>

        <ion-item routerLink="pag3" detail>
          Personal
          <ion-icon slot="start" name="person"></ion-icon>
        </ion-item>

        <ion-item routerLink="pag4" detail>
          Alertas
          <ion-icon slot="start" name="alert-circle"></ion-icon>
        </ion-item>

      </ion-list> -->
      </ion-menu-toggle>

          <ion-menu side="end" menuId="custom" contentId="main">
            <ion-header>
              <ion-toolbar color="tertiary">
                <ion-buttons slot="start">
                  <ion-menu-toggle>
                    <ion-icon id="closeMenuBtn" color="warning" name="close"></ion-icon>
                  </ion-menu-toggle>
                </ion-buttons>
                <ion-title>Custom Menu</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-list>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
              </ion-list>
            </ion-content>
          </ion-menu>


    </ion-content>
    <ion-menu-toggle>
      <ion-footer>
        <ion-toolbar>

          <ion-item routerLink="login" lines="none">
            <ion-title color="warning">Cerrar Sesion</ion-title>
            <ion-icon slot="start" name="power" color="danger"></ion-icon>
          </ion-item>

        </ion-toolbar>
      </ion-footer>
    </ion-menu-toggle>
  </ion-menu>



  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
